body {
            background-image:url('../images/bg.gif');
            margin-bottom:2002px;
        }

footer    {
            background-repeat: repeat-x;
            width: auto;
            background: #000;
        }

.panel-height {
                height: 728px;
              } 

.anchoFull{
        width: 98%;
        -webkit-border-radius: 10px 10px;  /* Safari  */
        border-radius: 10px 10px;     /* Firefox */
        text-align: center;
        
       
}

.colorRed{
        background-color: red;
        font-weight: bold;
        color: white;
}

.colorYellow{
        background-color: sandybrown;
        font-weight: bold;
        color: white;   
}

.colorBlue{
        background-color: darkblue;
        font-weight: bold;
        color: white;   
}

.colorGris{
        background-color: lightslategrey;
        font-weight: bold;
        color: white;   
}

.panel-heading {
    background-image: url('../images/bgPanelb.png') !important;
    font-weight: bold !important;
    color: white !important; 
}

.panel-body {
    background-image: url('../images/bgPanel.png') !important;
}

.navbar-default {
    background-image: url('../images/bgnav.png') !important;
    font-weight: bold !important;
    color: white !important; 
    border-style: none !important;
    hover
    a:hover:   color: hotpink;
}