body {
            background-image:url('../images/bg.gif');
            margin-bottom:2002px;
        }

footer    {
            background-repeat: repeat-x;
            width: 100%;
            background: #000;
            background-image: url('../images/bgfoot.png');
            font-weight: bold;
            text-align: center;
        }

.panel-height {
                height: auto;
              } 

.anchoFull{
        width: 98%;
        -webkit-border-radius: 10px 10px;  /* Safari  */
        border-radius: 10px 10px;     /* Firefox */
        text-align: center;
        
       
}

.colorRed{
        background-color: red;
        font-weight: bold;
        color: white;
}

.colorYellow{
        background-color: sandybrown;
        font-weight: bold;
        color: white;   
}

.colorBlue{
        background-color: darkblue;
        font-weight: bold;
        color: white;   
}

.colorGris{
        background-color: lightslategrey;
        font-weight: bold;
        color: white;   
}

.panel-heading {
    background-image: url('../images/bgPanelb.png') !important;
    font-weight: bold !important;
    color: white !important; 
}

.panel-body {
    background-image: url('../images/bgPanel.png') !important;
}

.panelEntrenamiento {
    background-image: url('../images/bgEntrenamientoBody.png') !important;
}

.panelEntrenamientoLevel {
    background-image: url('../images/bgEntrenamientoSubir.png') !important;
}

.navbar-default {
    background-image: url('../images/bgnav.png') !important;
    font-weight: bold !important;
    color: white !important; 
    border-style: none !important;
}


.modal-header {
    background-image: url('../images/bgPanelb.png') !important;
    font-weight: bold !important;
    color: white !important; 
}

.modal-body {
    background-image: url('../images/bgPanel.png') !important;
}

.modal-footer {
    background-image: url('../images/bgPanelb.png') !important;
}

.btn-enara {
    background-image: url('../images/bgPanel.png') !important;
    font-weight: bold !important;
}

.btn-enara-oscuro {
    background-image: url('../images/bgPanelb.png') !important;
    font-weight: bold !important;
    color: white !important;
}

.modalRec {
    font-weight: bold;
    color: white; 
    text-align: left;
}

.fondoDado {
    background-image: url('../images/registro/dado.png') !important;
    font-weight: bold !important;
    color: white !important; 
    width: 67px;  
    height: 70px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
}

.divDado {
    text-align: center;;
    margin-left: 34px;
}

.margenDado {
    margin-top: -14px;
}
